<!-- Main Container -->
<div class="container">
  <section class="section my-5 pb-5">
    <!-- Shopping Cart table -->
    <div class="table-responsive">
      <table class="table">
        <!-- Table head -->
        <thead>
          <tr>
            <th></th>

            <th class="font-weight-bold">
              <strong>Product</strong>
            </th>

            <th></th>

            <th class="font-weight-bold">
              <strong>Price</strong>
            </th>

            <th class="font-weight-bold">
              <strong>QTY</strong>
            </th>

            <th class="font-weight-bold">
              <strong>Amount</strong>
            </th>

            <th></th>
          </tr>
        </thead>
        <!-- Table head -->

        <!-- Table body -->
        <tbody>
          <!-- First row -->
          <tr *ngFor="let cartItem of cartItems">
            <th scope="row">
              <img
                src="{{ cartItem.product.imageUrl }}"
                alt=""
                class="img-fluid"
              />
            </th>

            <td>
              <h5 class="mt-3">
                <strong>{{ cartItem.product.name }}</strong>
              </h5>
            </td>

            <td></td>

            <td>{{ cartItem.product.unitPrice }}</td>

            <td class="text-center text-md-left">
              <span class="qty">{{ cartItem.quantity }} </span>
            </td>

            <td class="font-weight-bold">
              <strong>{{
                cartItem.product.unitPrice * cartItem.quantity
              }}</strong>
            </td>

            <td>
              <button
                type="button"
                class="btn btn-sm btn-dark"
                data-toggle="tooltip"
                data-placement="top"
                title="Remove item"
                (click)="removeProduct(cartItem.id)"
              >
                X
              </button>
            </td>
          </tr>
          <!-- First row -->
          <!-- Fourth row -->
          <tr>
            <td colspan="3"></td>

            <td></td>

            <td class="text-right"></td>

            <td colspan="3" class="text-right">
              <button type="button" class="btn btn-dark btn-rounded">
                Complete purchase

                <i class="fas fa-angle-right right"></i>
              </button>
            </td>
          </tr>
          <!-- Fourth row -->
        </tbody>
        <!-- Table body -->
      </table>
    </div>
    <!-- Shopping Cart table -->
  </section>
</div>
<!-- Main Container -->
